doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      block meta
        meta(name='description', content=locals.description)
        meta(property='og:title', content=locals.name)
        meta(property='og:type', content='website')
        meta(property='og:url', content='http://#{locals.url}#{page.url}')
        meta(property='og:site_name', content=locals.name)
        meta(property='og:image', content='http://#{locals.url}/img/avatars/synaptic-avatar-1-large.jpg')
        meta(property='og:description', content=locals.description)
      if (locals.googlewebfonts)
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=#{locals.googlewebfonts}')
      link(rel='stylesheet', href='/css/main.css')
  body
    .frame-outer
      .frame-inner
        .contents
          header
            block header
              .avatar-outer
                a(href='/', title=locals.name + " - " + locals.description)
                  .avatar-inner
                    img(src='/img/avatars/synaptic-avatar-2.jpg', title=alt=locals.name + " - " + locals.description, alt=locals.name + " - " + locals.description)
              a(href='/', title=locals.name + " - " + locals.description)
                h1= locals.name
              nav
                ul
                  each menu in locals.menu
                    li(class= (menu.url == page.url) ? 'active' : '')
                      a(href=menu.url, title=menu.description) #{menu.name}
          section
            article
              block content
                !=contents['index.md'].html
          footer
            block footer
              section
                .alignleft &copy;2012&ndash;#{ new Date().getFullYear() }&nbsp;
                  a(href='mailto:' + locals.email) #{ locals.name }
                .alignright Powered by&nbsp;
                  a(href='https://github.com/jnordberg/wintersmith') Wintersmith
                  &nbsp;&middot;&nbsp;
                  a(href=locals.source) Source
                  unless _.isEmpty(contents.img.photos)
                    &nbsp;&middot;&nbsp;
                    a(href='#').slideshow Slideshow
    unless _.isEmpty(contents.img.photos)
      .slideshow-toggle
        a(href='#').slideshow Exit slideshow
    script(src='/js/main.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '#{locals.analytics}', '#{locals.url}');
      ga('send', 'pageview');
    unless _.isEmpty(contents.img.photos)
      include backstretch
